{% extends 'base.html.twig' %}

{% block body %}
    <!-- Hero Start -->
    <div class="hero" id="home">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-content">
                        <div class="hero-text">
                            <p>Nous sommes</p>
                            <h1>Mes Tissées</h1>
                            <h2></h2>
                            <div class="typed-text">Styliste, Tailleur, Front End Developer, Apps Designer, Apps Developer</div>
                        </div>
                        <div class="hero-btn">
                            {#<a class="btn" href="">Hire Me</a>#}
                            <a class="btn" href="">Contacter Nous</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="{{ asset('assets/img/hero.png') }}" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Portfolio Start -->
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Nos Robes</p>
                <h2>Les robes .....</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul id="portfolio-filter">
                        {% set var1=nomCateg %}
                        <a href="{{ path('app_app') }}"><li data-filter="*" {% if var1==null  %}class="filter-active"{% endif %} >Tous</li></a>
                        {% for categorie in categories %}
                          <a href="{{ path('app_app', {'categ': categorie.nom}) }}" > <li data-filter=".filter-1" {% if var1==categorie.nom  %}class="filter-active"{% endif %}>{{ categorie.nom }}</li></a>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                {% for produit in produits %}
                    <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="portfolio-wrap">
                            <div class="portfolio-img">
                                <img src="{{ asset('assets/produits/' ~ produit.image) }}" alt="Image">
                            </div>
                            <div class="portfolio-text">
                                <h3>{{ produit.nom }}</h3>
                                <div class="price-dress">
                                    <i>{{ produit.prix }}&euro;</i>
                                </div>
                                <div class="stars">
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="btn-prod">
                                    <a class="btn" href="{{ asset('assets/produits/' ~ produit.image) }}" data-lightbox="portfolio"><i class="fas fa-eye"></i></a>
                                    <a class="btn" href="{{ asset('assets/produits/' ~ produit.image) }}" data-lightbox="portfolio"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Portfolio End -->
{% endblock %}
