{% extends 'admin.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

        <h1>Liste categorie</h1>
    <a class="btn btn-primary" href="{{ path('app_categorie_new') }}">Nouveau categorie</a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories|reverse %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nom }}</td>
                    <td>{{ categorie.status ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Voir</a>
                        <a class="btn btn-secondary" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
