{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        <link href="{{ asset('assets/css/details/adminlte.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/details/all.min.css') }}" rel="stylesheet">
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    {% endblock %}
    <!-- Hero Start -->
    <div class="hero" id="home">
        <div class="container-fluid">
            <!-- Content Wrapper. Contains page content -->
            <div class="">
                <!-- Main content -->
                <section class="content">
                    <!-- Default box -->
                    <div class="card card-solid">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                                    <div class="col-12">
                                        <img src="{{(produit.image) ? asset('assets/produits/' ~ produit.image) : asset('assets/img/default.jpg') }}" class="product-image" alt="Product Image">
                                    </div>
                                    <div class="col-12 product-image-thumbs">
                                        {% for gallerie in galeries %}
                                        <div class="product-image-thumb active"><img src="{{(gallerie.src) ? asset('uploads/photos/' ~ gallerie.src) : asset('assets/img/default.jpg') }}" alt="Product Image"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <h3 class="my-3">Description</h3>
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>

                                    <hr>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
                                            <span class="text-xl">S</span>
                                            <br>
                                            Small
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
                                            <span class="text-xl">M</span>
                                            <br>
                                            Medium
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b3" autocomplete="off">
                                            <span class="text-xl">L</span>
                                            <br>
                                            Large
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
                                            <span class="text-xl">XL</span>
                                            <br>
                                            Xtra-Large
                                        </label>
                                    </div>

                                    <div class="bg-gray py-2 px-3 mt-4">
                                        <h2 class="mb-0">
                                           $ {{ produit.prix }}
                                        </h2>
                                    </div>

                                    <div class="mt-4">
                                        <div class="btn btn-primary btn-lg btn-flat">
                                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                            Add to Cart
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
    </div>
    <!-- Hero End -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/details/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/details/demos.js') }}"></script>
    <script src="{{ asset('assets/js/details/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/details/adminlte.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.product-image-thumb').on('click', function () {
                var $image_element = $(this).find('img')
                $('.product-image').prop('src', $image_element.attr('src'))
                $('.product-image-thumb.active').removeClass('active')
                $(this).addClass('active')
            })
        })
    </script>

{% endblock %}