{% extends 'admin.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h3>Liste des produit</h3>
    <a class="btn btn-primary" href="{{ path('app_produit_new') }}">Nouveau produit</a>
    <hr>
    <table id="example1" class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Photos</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits|reverse %}
            <tr>
                <td>{{ produit.id }}</td>
               <td> <img src="{{(produit.image) ? asset('assets/produits/' ~ produit.image) : asset('assets/img/default.jpg') }} " width="70" title="" alt=""></td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.categorie.nom }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_produit_show', {'id': produit.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
