<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Favicon -->
        <link href="{{ asset('assets/img/favicon.ico') }}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script defer src="{{ asset('assets/js/all.js') }}" crossorigin="anonymous"></script>
        <!-- CSS Libraries -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
        <!-- Template Stylesheet -->
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        <style>
            .StripeElement {
                color: #495057;
                background-color: #fff;
                border-color: #b2b2b2;
                width: 50%;
                height: 40px;
                padding: 10px 12px;
                display: flex;
                flex-direction: column;
            }
        </style>

</head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="{{ asset('assets/img/logo.png') }}" width="100%">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/" class="nav-item nav-link active">Accueil</a>
                    <a href="#service" class="nav-item nav-link">Qui sommes nous?</a>
                    <a href="#contact" class="nav-item nav-link contact-menu">Nous contacter</a>
                    {% set cart = 0 %}
                    {% for item in app.session.get('panier') %}
                        {% set cart = cart + item %}
                    {% endfor %}
                    <a href="{{ path('cart') }}" class="nav-item nav-link contact-menu">Mon panier <i class="fas fa-shopping-cart"></i><span class="added">{{ cart }}</span></a>
                    {% if app.user %}
                    <div class="nav-item nav-link half">
                        <label for="profile2" class="profile-dropdown">
                            <input type="checkbox" id="profile2">
                            <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png">
                            <span>John Doe</span>
                            <label for="profile2"><i class="mdi mdi-arrow-down-drop-circle"></i></label>
                            <ul>
                                <li><a href="#"><i class="mdi mdi-email-outline"></i>Messages</a></li>
                                <li><a href="#"><i class="mdi mdi-account"></i>Account</a></li>
                                <li><a href="#"><i class="mdi mdi-cog"></i>Settings</a></li>
                                <li><a href="{{ path('app_logout') }}"><i class="mdi mdi-logout"></i>Logout</a></li>
                            </ul>
                        </label>
                    </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="nav-item nav-link connect-menu">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
        {% block body %}{% endblock %}
    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <h2>Kate Winslet</h2>
                    <h3>123 Street, New York, USA</h3>
                    <div class="footer-menu">
                        <p>+012 345 67890</p>
                        <p>info@example.com</p>
                    </div>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved | Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/lib/easing/easing.min.js') }}"></script>
    <script src="{{ asset('assets/lib/wow/wow.min.js') }}"></script>
    <script src="{{ asset('assets/lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/lib/typed/typed.min.js') }}"></script>
    <script src="{{ asset('assets/lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/lib/lightbox/js/lightbox.min.js') }}"></script>

    <!-- Contact Javascript File -->
    <script src="{{ asset('assets/mail/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ asset('assets/mail/contact.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/demos.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
